@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');
.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.navbar .navbar-brand {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 30px;
}

nav {
    margin-bottom: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown_menu-6{
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center
}
