<div *ngIf="bankAccounts.length >= 2" class="formBox">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-5">Transfer Money Between Accounts</h3>
                        <form ngNativeValidate [formGroup]="transferForm" class="form-group" (ngSubmit)="onSubmit()">
                            <div *ngIf="showErrorMessage">
                                <p style="color: red;">Not enough funds. Check your balance.</p>
                            </div>
                            <label for="account1">From: </label>
                            <select class="form-select" id="account1" formControlName="transferFromAccount" required>
                                <option *ngFor="let account1 of bankAccounts" [value]="account1.name">{{account1.name}} {{"$" +
                                    account1.balance}}</option>
                            </select>

                            <label for="account2">To: </label>
                            <select class="form-select" id="account2" formControlName="transferToAccount" required>
                                <option *ngFor="let account2 of bankAccounts" [value]="account2.name"> {{account2.name}} {{"$" +
                                    account2.balance}}</option>
                            </select>

                            <label for="ammount">Amount: </label><br/>
                            <input class="form-control" type="number" min="0" step="any" formControlName="transferAmount" required/>
                            <br/>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="bankAccounts.length < 2" class="formBox">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-5">Add more accounts to use this feature.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
