@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Moon+Dance&display=swap');

.formBox {
    opacity: 100%;
    padding-right: 50%;
    padding-left: 1%;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.navbar .navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Moon Dance', cursive;
    font-size: 4vw;
  }
  
  /* -------------------------------------------- */
  