<div class="card" style="width: 20rem; margin: auto; border: auto;">

    <div *ngIf="regSuccess == 2" class="alert alert-danger my-2">
        Registration Failed
    </div>

    <div *ngIf="regSuccess == 1" class="alert alert-primary my-2">
        Registration Success
    </div>

    <div *ngIf="passwordMismatch" class="alert alert-secondary my-2">
        Password Mismatch
    </div>
    


    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <input type="text" placeholder="Username"  formControlName="username" required>
        <br>
        <input type="password" placeholder="Password" formControlName="password" required>
        <br>
        <input type="password" placeholder="Confirm password" formControlName="password2" required>
        <br><br>
        <input type="text" placeholder="Firstname" formControlName="firstName" required>
        <br>
        <input type="text" placeholder="Lastname" formControlName="lastName" required>
        <br><br>
        <input type="email" placeholder="Email" formControlName="email" required>
        <br><br>
        <button type="submit">Create New User</button>
        
    </form>
</div>


