
<div class="card" style="width: 20rem;">

    <input type="text" placeholder="Username" required>
    <br>
    <input type="password" placeholder="Password" required>
    <br>
    <input type="password" placeholder="Confirm password" required>
    <br><br>
    <input type="text" placeholder="Firstname" required>
    <br>
    <input type="text" placeholder="Lastname" required>
    <br><br>
    <input type="email" placeholder="Email" required>
    <br>
    <input type="email" placeholder="Confirm email" required>
    <br><br>
    <button>Create New User</button>
    
</div>


