@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');
.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.navbar .navbar-brand {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 30px;
}

nav {
    margin-bottom: 100px;
}


/* -------------------------------------------- */
